@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente estilo Retro / Pixel Art de OSRS */
#title-osrs {
  font-family: "Press Start 2P", monospace !important;
  font-weight: 400 !important;
  line-height: 1.3;
}

:root {
  --accent-200: 253 230 138;
  --accent-300: 252 211 77;
  --accent-400: 251 191 36;
  --accent-500: 245 158 11;
  --accent-600: 217 119 6;
  --accent-950: 69 26 3;
}

body {
  @apply bg-slate-900 text-slate-100 min-h-screen font-sans;
}

.accent-transition {
  transition:
    background-color 200ms ease,
    border-color 200ms ease,
    color 200ms ease;
}
